<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background-image:url(../../assets/images/1.jpg);">
  <!-- <ion-img src="../../assets/images/1.jpg"></ion-img>-->
  <ion-card routerLink="/home">
  <ion-img src="../../assets/images/2.jpeg"></ion-img>
  </ion-card>
  <form #userlogin="ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
    <ion-item>
      <ion-label position="floating">Mobile No.</ion-label>
      <ion-input type="number" name = "mobile"  (ionFocus)="onFocus()" ngModel></ion-input>
    </ion-item>
    <ion-label [hidden]="usrmsg.valid" padding color="danger">Enter Username</ion-label>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name = "password" (ionFocus)="onFocus()" ngModel></ion-input>
    </ion-item>
    <ion-label padding color="danger" [hidden]="pwdmsg.valid">Enter Password</ion-label>
      <br>
    <ion-button expand="block" fill="outline" type="submit">Login</ion-button>
    <br>
    <ion-button expand="block" fill="outline" routerLink="/frgtmob">Forgot?</ion-button>
      </form>
</ion-content>
